body {
  font-family: arial, sans-serif;
}
.hero {
  width: 100%;
  height: 3vh;
}
back-video {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
.form-control {
  background-color: rgb(217, 237, 254);
  border-color: rgb(55, 154, 251);
}
.form-control:hover {
  background: rgb(254, 235, 131, 0.4);
  color: rgb(1, 111, 197);
}
#city-input-button {
  border-color: rgb(1, 111, 197);
  background-color: rgb(55, 154, 251);
  transition-duration: 500ms;
}
#city-input-button:hover {
  background: rgb(254, 229, 88, 0.4);
  color: rgb(1, 111, 197);
}
#currentLocation {
  background: rgb(254, 229, 88);
  color: rgb(1, 111, 197);
  border-color: rgb(248, 211, 0);
  transition-duration: 500ms;
}
#currentLocation:hover {
  background: rgb(217, 237, 254);
  color: rgb(1, 111, 197);
}

h1 {
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(86, 79, 79);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  position: absolute;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: rgba(246, 241, 241, 0.8);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.coded {
  background: rgba(246, 241, 241, 0.3);
  border-radius: 20px;
  color: black;
  font-family: monospace;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(33, 33, 33);
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
